Project/student management system/WebContent/wsdl/Information.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getregistration">
    <complexType>
     <sequence>
      <element name="student" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getregistrationResponse">
    <complexType>
     <sequence>
      <element name="getregistrationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getregistrationRequest">

      <wsdl:part element="impl:getregistration" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getregistrationResponse">

      <wsdl:part element="impl:getregistrationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Information">

      <wsdl:operation name="getregistration">

         <wsdl:input message="impl:getregistrationRequest" name="getregistrationRequest">

       </wsdl:input>

         <wsdl:output message="impl:getregistrationResponse" name="getregistrationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InformationSoapBinding" type="impl:Information">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getregistration">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getregistrationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getregistrationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InformationService">

      <wsdl:port binding="impl:InformationSoapBinding" name="Information">

         <wsdlsoap:address location="http://localhost:8080/student_management_system/services/Information"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
