student management system/WebContent/wsdl/GradingUpdate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="update">
    <complexType>
     <sequence>
      <element name="Student_Name" type="xsd:string"/>
      <element name="Course_ID" type="xsd:string"/>
      <element name="Grade" type="xsd:string"/>
      <element name="Result" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType>
     <sequence>
      <element name="updateReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GradingUpdate">

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GradingUpdateSoapBinding" type="impl:GradingUpdate">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GradingUpdateService">

      <wsdl:port binding="impl:GradingUpdateSoapBinding" name="GradingUpdate">

         <wsdlsoap:address location="http://localhost:8080/student_management_system/services/GradingUpdate"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
